# AWS Glue Studio Notebook
##### You are now running a AWS Glue Studio notebook; To start using your notebook you need to start an AWS Glue Interactive Session.

#### Optional: Run this cell to see available notebook commands ("magics").

In [27]:
%help

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %timeout            Int           The number of minutes after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0, 3.0 and 4.0.
                                      Default: 2.0.
    %reconnect          String        Specify a live session ID to switch/reconnect to the sessions.
----

## Selecting Session Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %session_type       String        Specify a session_type to be used. Supported values: streaming and etl.
----

## Glue Config Magic
*(common across all session types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
    %%tags        Dictionary          Specify a json-formatted dictionary consisting of tags to use in the session.

    %%assume_role Dictionary, String  Specify a json-formatted dictionary or an IAM role ARN string to create a session
                                      for cross account access.
                                      E.g. {valid arn}
                                      %%assume_role
                                      'arn:aws:iam::XXXXXXXXXXXX:role/AWSGlueServiceRole'
                                      E.g. {credentials}
                                      %%assume_role
                                      {
                                            "aws_access_key_id" : "XXXXXXXXXXXX",
                                            "aws_secret_access_key" : "XXXXXXXXXXXX",
                                            "aws_session_token" : "XXXXXXXXXXXX"
                                       }
----


## Magic for Spark Sessions (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
    %matplot      Matplotlib figure   Visualize your data using the matplotlib library.
                                      E.g.
                                      import matplotlib.pyplot as plt
                                      # Set X-axis and Y-axis values
                                      x = [5, 2, 8, 4, 9]
                                      y = [10, 4, 8, 5, 2]
                                      # Create a bar chart
                                      plt.bar(x, y)
                                      # Show the plot
                                      %matplot plt
    %plotly            Plotly figure  Visualize your data using the plotly library.
                                      E.g.
                                      import plotly.express as px
                                      #Create a graphical figure
                                      fig = px.line(x=["a","b","c"], y=[1,3,2], title="sample figure")
                                      #Show the figure
                                      %plotly fig



----

####  Run this cell to set up and start your interactive session.

In [24]:
%idle_timeout 2880
%glue_version 3.0
%worker_type G.1X
%number_of_workers 5
%connections redshift-demo-connection

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql.functions import *
from awsglue.dynamicframe import DynamicFrame
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session ed9ad6c4-a462-4f7a-9b29-150ca19d04b2.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is 2880 minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session ed9ad6c4-a462-4f7a-9b29-150ca19d04b2.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 3.0

You are already connected to a glueetl session ed9ad6c4-a462-4f7a-9b29-150ca19d04b2.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session ed9ad6c4-a462-4f7a-9b29-150ca19d04b2.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

You are already connected to a glueetl session ed9ad6c4-a462-4f7a-9b29-150ca19d04b2.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Connections to be included:
redshift-demo-connection

#### Example: Create a DynamicFrame from a table in the AWS Glue Data Catalog , dropping null records and display its schema

In [25]:
dyf = glueContext.create_dynamic_frame.from_catalog(database='salesdb', table_name='sales_records_csv')
dyf = DropNullFields.apply(frame=dyf)
dyf.printSchema()

null_fields []
root
|-- id: long
|-- region: string
|-- country: string
|-- item_type: string
|-- sales_channel: string
|-- order_priority: string
|-- order_date: string
|-- order_id: long
|-- ship_date: string
|-- units_sold: long
|-- unit_price: double
|-- unit_cost: double
|-- total_revenue: double
|-- total_cost: double
|-- total_profit: double

#### Example: Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [26]:
df = dyf.toDF()
df.show()

+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
| id|              region|             country|      item_type|sales_channel|order_priority|order_date| order_id| ship_date|units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  1|Central America a...|Antigua and Barbuda |      Baby Food|       Online|             M|12/20/2013|957081544| 1/11/2014|       552|    255.28|   159.42|    140914.56|  87999.84|    52914.72|
|  2|Central America a...|              Panama|         Snacks|      Offline|             C|  7/5/2010|301644504| 7/26/2010|      2167|    152.58|    97.44|    330640.86| 211152.48|   119488.38|
|  3|              Europe|      Czech Republic|      Beverages|      Offline|             C| 9/12/2011|478051030| 9/29/2011|      4778|     47.45|    31.79|     226716.1| 151892.62|    74823.48|
|  4|                Asia|         North Korea|         Cereal|      Offline|             L| 5/13/2010|892599952| 6/15/2010|      9016|     205.7|   117.11|    1854591.2|1055863.76|   798727.44|
|  5|                Asia|           Sri Lanka|         Snacks|      Offline|             C| 7/20/2015|571902596| 7/27/2015|      7542|    152.58|    97.44|   1150758.36| 734892.48|   415865.88|
|  6|Middle East and N...|             Morocco|  Personal Care|      Offline|             L| 11/8/2010|412882792|11/22/2010|        48|     81.73|    56.67|      3923.04|   2720.16|     1202.88|
|  7|Australia and Oce...|Federated States ...|        Clothes|      Offline|             H| 3/28/2011|932776868| 5/10/2011|      8258|    109.28|    35.84|    902434.24| 295966.72|   606467.52|
|  8|              Europe|Bosnia and Herzeg...|        Clothes|       Online|             M|10/14/2013|919133651| 11/4/2013|       927|    109.28|    35.84|    101302.56|  33223.68|    68078.88|
|  9|Middle East and N...|         Afghanistan|        Clothes|      Offline|             M| 8/27/2016|579814469| 10/5/2016|      8841|    109.28|    35.84|    966144.48| 316861.44|   649283.04|
| 10|  Sub-Saharan Africa|            Ethiopia|      Baby Food|       Online|             M| 4/13/2015|192993152|  5/7/2015|      9817|    255.28|   159.42|   2506083.76|1565026.14|   941057.62|
| 11|Middle East and N...|              Turkey|Office Supplies|      Offline|             C| 9/25/2013|557156026|10/15/2013|      3704|    651.21|   524.96|   2412081.84|1944451.84|    467630.0|
| 12|Middle East and N...|                Oman|      Cosmetics|       Online|             M| 5/12/2013|741101920| 5/17/2013|      7382|     437.2|   263.33|    3227410.4|1943902.06|  1283508.34|
| 13|                Asia|            Malaysia|         Cereal|      Offline|             L| 7/31/2016|333942162| 8/25/2016|      9762|     205.7|   117.11|    2008043.4|1143227.82|   864815.58|
| 14|Central America a...|         Saint Lucia|      Cosmetics|      Offline|             H|  7/6/2015|795100581| 7/16/2015|      6786|     437.2|   263.33|    2966839.2|1786957.38|  1179881.82|
| 15|Central America a...|Saint Vincent and...|      Baby Food|       Online|             L|11/28/2010|504313504| 12/3/2010|      6428|    255.28|   159.42|   1640939.84|1024751.76|   616188.08|
| 16|Middle East and N...|             Lebanon|           Meat|      Offline|             H|12/17/2015|611629760| 1/31/2016|      3693|    421.89|   364.69|   1558039.77|1346800.17|    211239.6|
| 17|              Europe|             Austria|         Cereal|      Offline|             C| 8/13/2014|987410676|  9/6/2014|      5616|     205.7|   117.11|    1155211.2| 657689.76|   497521.44|
| 18|              Europe|            Bulgaria|Office Supplies|       Online|             L|10/31/2010|672330081|11/29/2010|      6266|    651.21|   524.96|   4080481.86|3289399.36|    791082.5|
| 19|       North America|              Mexico|      Beverages|       Online|             C| 3/13/2017|127374303| 3/20/2017|      1742|     47.45|    31.79|      82657.9|  55378.18|    27279.72|
| 20|Central America a...| Trinidad and Tobago|      Baby Food|      Offline|             C| 4/16/2013|783842170|  6/1/2013|      5172|    255.28|   159.42|   1320308.16| 824520.24|   495787.92|
+---+--------------------+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 20 rows

#### Example: Perform data transformations

In [27]:
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
sales_df = df.withColumn("Order_Date", to_date(unix_timestamp(col('order_date'), 'MM/dd/yyyy').cast('timestamp'))) \
             .withColumn("Ship_Date", to_date(unix_timestamp(col('ship_date'), 'MM/dd/yyyy').cast('timestamp')))

sales_df.show(10, True)

+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
| id|              region|             country|    item_type|sales_channel|order_priority|Order_Date| order_id| Ship_Date|units_sold|unit_price|unit_cost|total_revenue|total_cost|total_profit|
+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
|  1|Central America a...|Antigua and Barbuda |    Baby Food|       Online|             M|2013-12-20|957081544|2014-01-11|       552|    255.28|   159.42|    140914.56|  87999.84|    52914.72|
|  2|Central America a...|              Panama|       Snacks|      Offline|             C|2010-07-05|301644504|2010-07-26|      2167|    152.58|    97.44|    330640.86| 211152.48|   119488.38|
|  3|              Europe|      Czech Republic|    Beverages|      Offline|             C|2011-09-12|478051030|2011-09-29|      4778|     47.45|    31.79|     226716.1| 151892.62|    74823.48|
|  4|                Asia|         North Korea|       Cereal|      Offline|             L|2010-05-13|892599952|2010-06-15|      9016|     205.7|   117.11|    1854591.2|1055863.76|   798727.44|
|  5|                Asia|           Sri Lanka|       Snacks|      Offline|             C|2015-07-20|571902596|2015-07-27|      7542|    152.58|    97.44|   1150758.36| 734892.48|   415865.88|
|  6|Middle East and N...|             Morocco|Personal Care|      Offline|             L|2010-11-08|412882792|2010-11-22|        48|     81.73|    56.67|      3923.04|   2720.16|     1202.88|
|  7|Australia and Oce...|Federated States ...|      Clothes|      Offline|             H|2011-03-28|932776868|2011-05-10|      8258|    109.28|    35.84|    902434.24| 295966.72|   606467.52|
|  8|              Europe|Bosnia and Herzeg...|      Clothes|       Online|             M|2013-10-14|919133651|2013-11-04|       927|    109.28|    35.84|    101302.56|  33223.68|    68078.88|
|  9|Middle East and N...|         Afghanistan|      Clothes|      Offline|             M|2016-08-27|579814469|2016-10-05|      8841|    109.28|    35.84|    966144.48| 316861.44|   649283.04|
| 10|  Sub-Saharan Africa|            Ethiopia|    Baby Food|       Online|             M|2015-04-13|192993152|2015-05-07|      9817|    255.28|   159.42|   2506083.76|1565026.14|   941057.62|
+---+--------------------+--------------------+-------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+
only showing top 10 rows

#### Group by Region and Country and calculate aggregate metrics

In [28]:
aggregate_df = sales_df.groupBy("Region", "Country", year("order_date").alias('year'), quarter("order_date").alias('quarter')).agg(
    sum("Total_Revenue").alias("Total_Revenue_By_Region_Country"),
    sum("Total_Cost").alias("Total_Cost_By_Region_Country"),
    sum("Total_Profit").alias("Total_Profit_By_Region_Country")
)

#### Show the aggregated data (for demonstration purposes)

In [29]:
aggregate_df.orderBy("year","quarter").show()
aggregate_df.count()

+--------------------+--------------------+----+-------+-------------------------------+----------------------------+------------------------------+
|              Region|             Country|year|quarter|Total_Revenue_By_Region_Country|Total_Cost_By_Region_Country|Total_Profit_By_Region_Country|
+--------------------+--------------------+----+-------+-------------------------------+----------------------------+------------------------------+
|                Asia|         South Korea|2010|      1|                       44700.03|                    33153.72|                      11546.31|
|Central America a...|Saint Kitts and N...|2010|      1|                       245126.7|                   164227.14|                      80899.56|
|       North America|              Mexico|2010|      1|                      538028.59|                   373058.61|                     164969.98|
|Middle East and N...|             Somalia|2010|      1|                     2485916.64|                  1552431.96|                     933484.68|
|              Europe|              Kosovo|2010|      1|                      677247.76|                   399728.28|                     277519.48|
|Central America a...|         El Salvador|2010|      1|                      1886886.1|                  1074250.03|                     812636.07|
|              Europe|            Bulgaria|2010|      1|                      1829789.5|           839380.1499999999|                     990409.35|
|              Europe|          Luxembourg|2010|      1|                     1123251.46|                   662970.63|                     460280.83|
|              Europe|              Sweden|2010|      1|                      4149902.4|                  2499528.36|                    1650374.04|
|  Sub-Saharan Africa|              Zambia|2010|      1|                      5837205.6|                  4453417.91|                    1383787.69|
|                Asia|           Sri Lanka|2010|      1|                      200419.52|                    65730.56|                     134688.96|
|Middle East and N...|             Algeria|2010|      1|                      229050.88|                    75120.64|                     153930.24|
|              Europe|             Andorra|2010|      1|             3348578.1900000004|          2008080.1500000001|                    1340498.04|
|Middle East and N...|                Oman|2010|      1|                     2680430.97|                  2015687.94|                     664743.03|
|              Europe|               Italy|2010|      1|                      438322.08|                   143754.24|                     294567.84|
|              Europe|         Switzerland|2010|      1|                      255802.95|                   171379.89|                      84423.06|
|Middle East and N...|                Iran|2010|      1|                     2931671.66|                  2239089.38|                     692582.28|
|Central America a...|             Jamaica|2010|      1|                     1573974.57|                  1268828.32|                     305146.25|
|                Asia|            Cambodia|2010|      1|              5682062.319999999|          4130533.3400000003|            1551528.9800000002|
|Australia and Oce...|          East Timor|2010|      1|                     1271998.35|                  1099540.35|                      172458.0|
+--------------------+--------------------+----+-------+-------------------------------+----------------------------+------------------------------+
only showing top 20 rows

3317

#### Renaming the cloumns and displaying the content in a sorted manner.

In [30]:
aggregate_df= aggregate_df.withColumnRenamed("Total_Revenue_By_Region_Country","Total_Revenue")\
                          .withColumnRenamed("Total_Cost_By_Region_Country","Total_Cost")\
                          .withColumnRenamed("Total_Profit_By_Region_Country","Total_Profit")
aggregate_df.orderBy("year","quarter").show()

+--------------------+--------------------+----+-------+-----------------+------------------+------------------+
|              Region|             Country|year|quarter|    Total_Revenue|        Total_Cost|      Total_Profit|
+--------------------+--------------------+----+-------+-----------------+------------------+------------------+
|                Asia|            Cambodia|2010|      1|5682062.319999999|4130533.3400000003|1551528.9800000002|
|Central America a...|           Nicaragua|2010|      1|         511987.3|         291486.79|         220500.51|
|Middle East and N...|              Israel|2010|      1|        3912070.4|        2323167.96|        1588902.44|
|Middle East and N...|             Bahrain|2010|      1|       2428478.64|        1516562.46|         911916.18|
|                Asia|         North Korea|2010|      1|       2203286.19|        1656874.38|         546411.81|
|              Europe|            Slovakia|2010|      1|       2548346.18|1982138.6199999999| 566207.5599999999|
|  Sub-Saharan Africa|               Sudan|2010|      1|        3822161.3|         2837858.6|          984302.7|
|       North America|              Mexico|2010|      1|        538028.59|         373058.61|         164969.98|
|              Europe|             Georgia|2010|      1|       3550626.24|        3069231.04|          481395.2|
|              Europe|       Liechtenstein|2010|      1|        1574016.4|         896125.72|         677890.68|
|  Sub-Saharan Africa|        Sierra Leone|2010|      1|       6481276.65|3926471.4699999997|2554805.1799999997|
|              Europe|          Luxembourg|2010|      1|       1123251.46|         662970.63|         460280.83|
|Central America a...|Saint Kitts and N...|2010|      1|         245126.7|         164227.14|          80899.56|
|              Europe|               Italy|2010|      1|        438322.08|         143754.24|         294567.84|
|  Sub-Saharan Africa|         South Sudan|2010|      1|        634626.08|         396318.12|         238307.96|
|Central America a...|         El Salvador|2010|      1|        1886886.1|        1074250.03|         812636.07|
|              Europe|            Bulgaria|2010|      1|        1829789.5| 839380.1499999999|         990409.35|
|Australia and Oce...|               Palau|2010|      1|        864295.52|         283458.56|         580836.96|
|  Sub-Saharan Africa|               Kenya|2010|      1|        488216.14|         288157.17|         200058.97|
|              Europe|              Kosovo|2010|      1|        677247.76|         399728.28|         277519.48|
+--------------------+--------------------+----+-------+-----------------+------------------+------------------+
only showing top 20 rows

#### Example: Convert the Spark DataFrame to a DynamicFrame and display a sample of the data

In [32]:
dyf = DynamicFrame.fromDF(aggregate_df, glueContext, "dynamic_frame")

#### Example: load the dynamic frame into our Amazon Redshift cluster

In [33]:
dyf.show()

{"Region": "Europe", "Country": "Luxembourg", "year": 2010, "quarter": 1, "Total_Revenue": 1123251.46, "Total_Cost": 662970.63, "Total_Profit": 460280.83}
{"Region": "Europe", "Country": "Switzerland", "year": 2014, "quarter": 1, "Total_Revenue": 4429651.8, "Total_Cost": 2873705.61, "Total_Profit": 1555946.19}
{"Region": "Central America and the Caribbean", "Country": "Dominica", "year": 2010, "quarter": 2, "Total_Revenue": 1255966.53, "Total_Cost": 1085682.13, "Total_Profit": 170284.4}
{"Region": "Australia and Oceania", "Country": "Federated States of Micronesia", "year": 2012, "quarter": 2, "Total_Revenue": 5588354.33, "Total_Cost": 4029198.36, "Total_Profit": 1559155.97}
{"Region": "Europe", "Country": "Poland", "year": 2015, "quarter": 4, "Total_Revenue": 5740416.15, "Total_Cost": 4627522.4, "Total_Profit": 1112893.75}
{"Region": "Sub-Saharan Africa", "Country": "Namibia", "year": 2016, "quarter": 1, "Total_Revenue": 1861809.39, "Total_Cost": 1500860.64, "Total_Profit": 360948.75}
{"Region": "Europe", "Country": "Estonia", "year": 2011, "quarter": 2, "Total_Revenue": 657986.0, "Total_Cost": 396311.65, "Total_Profit": 261674.35}
{"Region": "Europe", "Country": "Armenia", "year": 2011, "quarter": 1, "Total_Revenue": 1000641.06, "Total_Cost": 647551.76, "Total_Profit": 353089.3}
{"Region": "Europe", "Country": "Denmark", "year": 2016, "quarter": 2, "Total_Revenue": 27948.05, "Total_Cost": 18724.31, "Total_Profit": 9223.74}
{"Region": "Middle East and North Africa", "Country": "Lebanon", "year": 2011, "quarter": 2, "Total_Revenue": 3937826.65, "Total_Cost": 2884792.9, "Total_Profit": 1053033.75}
{"Region": "Central America and the Caribbean", "Country": "Jamaica", "year": 2013, "quarter": 3, "Total_Revenue": 792397.3799999999, "Total_Cost": 629472.22, "Total_Profit": 162925.16}
{"Region": "Middle East and North Africa", "Country": "Afghanistan", "year": 2013, "quarter": 2, "Total_Revenue": 278255.2, "Total_Cost": 173767.8, "Total_Profit": 104487.4}
{"Region": "Europe", "Country": "Spain", "year": 2011, "quarter": 4, "Total_Revenue": 4544537.69, "Total_Cost": 3633328.41, "Total_Profit": 911209.28}
{"Region": "Asia", "Country": "Taiwan", "year": 2014, "quarter": 4, "Total_Revenue": 3204577.16, "Total_Cost": 1694851.36, "Total_Profit": 1509725.7999999998}
{"Region": "Europe", "Country": "Macedonia", "year": 2014, "quarter": 3, "Total_Revenue": 4672951.7, "Total_Cost": 3482977.09, "Total_Profit": 1189974.61}
{"Region": "Sub-Saharan Africa", "Country": "Liberia", "year": 2015, "quarter": 4, "Total_Revenue": 871139.5, "Total_Cost": 495960.85, "Total_Profit": 375178.65}
{"Region": "Central America and the Caribbean", "Country": "Jamaica", "year": 2017, "quarter": 2, "Total_Revenue": 6577657.34, "Total_Cost": 4587400.02, "Total_Profit": 1990257.3199999998}
{"Region": "Sub-Saharan Africa", "Country": "Senegal", "year": 2011, "quarter": 3, "Total_Revenue": 80527.23, "Total_Cost": 59726.52, "Total_Profit": 20800.71}
{"Region": "Asia", "Country": "Turkmenistan", "year": 2010, "quarter": 4, "Total_Revenue": 3508859.13, "Total_Cost": 3033126.73, "Total_Profit": 475732.4}
{"Region": "Middle East and North Africa", "Country": "Saudi Arabia", "year": 2013, "quarter": 4, "Total_Revenue": 9850970.7, "Total_Cost": 7127364.779999999, "Total_Profit": 2723605.92}

In [35]:
redshift_output = glueContext.write_dynamic_frame.from_jdbc_conf(
    frame=dyf,
    catalog_connection="redshift-demo-connection",
    connection_options={"dbtable": "public.Regionalsales","database":"dev"},
    redshift_tmp_dir = "s3://aws-glue-assets-796973505771-us-east-2/temporary/",
    transformation_ctx = "redshift_output"
)